p{
    color: aqua;
    font-size: 50px;
}

#cuatro p{
    font-size: 18px;
    color: #000000;
    text-align: justify;
    width: 300px;
    height: 150px;
    background-color: #e100ff;
    overflow: auto;

}

#augustobriga{
    align-content: center;
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
    margin: 60px auto;
    width: 500px;
    height: 150px;
    background-image: url(../imagenes/logo_transparente.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 20px 0px 0px 20px;
}